In [28]:
##Question 1.1
# This function takes an iterable object-list,tuple as input and then performs (add,sub,mul,div) based on input provided
def myreduce(x):
    
# try and expect block to handle incorrect object provided as argument
 try:
    print("Please provide 'add','sub','mul' or 'div' as input")
    set_operator=input()
    
# initializing variables
    var_add_sub = 0
    var_mul_div = 1
    
# looping through the object and performing operation as requested by user
    for i in x:
        if set_operator == 'add':
              var_add_sub = var_add_sub + i
        elif set_operator == 'sub':
              var_add_sub = var_add_sub - i
        elif set_operator == 'mul':
              var_mul_div = var_mul_div * i
        elif set_operator == 'div':
              var_mul_div = var_mul_div/i
        else:
            print("Please provide 'add','sub','mul' or 'div' as input")
            break
    if set_operator == 'add' or set_operator == 'sub':
        return var_add_sub
    elif set_operator == 'mul' or set_operator == 'div':
        return var_mul_div
  
 except:
    return ("Incorrect input")

myreduce([20,22,33,54,54,0])

Please provide 'add','sub','mul' or 'div' as input
add

183

In [46]:
##Question 1.2
# This function takes an iterable object-list,tuple as input and filter even records
def myfilter(x):
    
# try and expect block to handle incorrect object provided as argument
 try:

# Empty list to store filtered records
    new_list=[]
    
# looping through the object and performing operation as requested by user
    for i in x:
        if i%2 == 0:
             new_list.append(i)
    return new_list  

 except:
    return ("Excpetion")

myfilter([20,21,32,65,56,77])

[20, 32, 56]

In [51]:
lst = ['x','y','z']
lst

['x', 'y', 'z']

In [53]:
lst1 = [i*j for i in lst for j in range(1,5)]
lst1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [55]:
lst2 = [i*j for i in range(1,5) for j in lst]
lst2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [74]:
num_lst = [2,3,4]
num_lst

[2, 3, 4]

In [75]:
num_lst1 = [[i+j] for i in num_lst for j in range(0,3)]
num_lst1

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [76]:
num_lst2 = [2,3,4,5]
num_lst2

[2, 3, 4, 5]

In [78]:
num_lst3 = [[i+j for i in num_lst2] for j in range(4)]
num_lst3

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [79]:
num_lst4 = (1,2,3)
num_lst4

(1, 2, 3)

In [81]:
num_lst5 = [(j,i) for i in num_lst4 for j in range(1,4)]
num_lst5

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]